{% extends 'tccs/base.html' %}

<!--Onde sera renderizado-->
{% block conteudo %}

<div class="container">
    <h1> Bem-Vindo</h1>
    <h3> Aqui estão as TCCs sob sua orientação</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Orientador</th>
            <th>Título da TCC</th>
            <th>Aluno 1</th>
            <th>Aluno 2</th>
            <th>Aluno 3</th>
            <th>Descrição</th>
            <th>Data de Entrega</th>
            <th>Status</th>
        </tr>
        {% for tcc in tccs %}
        <tr>
            <td>{{tcc.nome}}</td>
            <td>{{tcc.titulo}}</td>
            <td>{{tcc.aluno1}}</td>
            <td>{{tcc.aluno2}}</td>
            <td>{{tcc.aluno3}}</td>
            <td>{{tcc.descricao}}</td>
            <td>{{tcc.datafim}}</td>
            <td>{{tcc.status}}</td>             
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}